* {
  box-sizing: content-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
  overflow-x: hidden;
}

#myVideo {
  position: fixed;
  left: 50%;
  bottom: 0;
  /*min-width: 100%;
  min-height: 100%;*/
}

.regi {
  text-align: right;
  position: absolute;
  top: 90;
  left: 20%;
  color: #f1f1f1;
  width: 100%;
}

.baar {
  text-align: center;
  position: absolute;
  top: 0;
  color: #f1f1f1;
  width: 100%;
}

#rcorners {
  border-radius: 100px;
  border-color: red;
  width: 300px;
  height: 40px;
  text-align: center;
}
